# name of our action
name: "Chromatic Deployment"
# the event that will trigger the action
on: push

# what the action will do
jobs:
  test:
    # the operating system it will run on
    runs-on: ubuntu-latest
    # the list of steps that the action will go through
    steps:
      - uses: actions/checkout@v1
      - run: yarn
      - uses: chromaui/action@v1
        # options required to the GitHub Chromatic action
        with:
          # Chromatic projectToken, see https://storybook.js.org/tutorials/visual-testing-handbook/react/en/automate/ to obtain it
          projectToken: 385f9df90462
          token: ${{ secrets.GITHUB_TOKEN }}
